<div class="content">
  <header>
      <div class="head">
          <div class="logo">
              <img src="/assets/logo.png" alt="Logo de la tienda">
          </div>
          <div class="titulo">
              <h3>Unique Style</h3>
          </div>
          <div class="acciones">
              <div class="carrito">
                  <p-button icon="pi pi-shopping-cart" />
              </div>
              <div class="usuario">
                  <p-button icon="pi pi-user" />
  
              </div>
          </div>
      </div>    
  </header>
  <main></main>
  <footer></footer>
</div>
